@import 'reset.css';

body {
  color: #040406;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  letter-spacing: 0.01em;
}

h1 {
  font-family: 'Oswald';
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}

h2 {
  font-family: 'Oswald';
  margin: 10px 0px;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.h2-miembros {
  font-family: 'Raleway', sans-serif;
}
.miembro-title {
  font-size: 18px;
}

h3 {
  margin: 0px 0px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;

  font-size: 15px;
  line-height: 22px;
}
mark {
  margin: 0.2em auto;
  line-height: 0.85em;
  background-color: #040406;
  color: #fff;
}
.mark-a {
  color: #fff;
}
.mark-a:visited {
  color: #fff !important;
}

.button {
  display: inline-block;
  padding: 15px 33px;
  border: 1px solid #040406;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #040406;
  font-size: 19px;
  font-style: italic;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
}

.logo-img {
  margin: auto;
  /* margin-right: 18px; */
  float: left;
}

.main-heading {
  margin-top: 7px;

  color: #fff;
  font-size: 44px;
  line-height: 55px;
  font-weight: 400;
  text-transform: uppercase;
}

.divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 28px auto;
  background-color: #39585e;
  color: #39585e;
}

.divider.grey {
  margin-bottom: 43px;
  background-color: rgba(0, 0, 0, 0.09);
  color: #fff;
}

.main-subtitle {
  color: #404040;
  font-size: 18px;
  font-style: italic;
}

.about-section {
  padding-top: 69px;
  padding-bottom: 69px;
  background-color: #fc6767;
  text-align: center;
  color: #404040;
}

.about-text {
  overflow: visible;
  margin-bottom: 40px;
  float: none;

  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  text-transform: none;
}

.section {
  padding-top: 69px;
  padding-bottom: 69px;
  text-align: center;
}

.section.grey {
  background-color: #f5f5f5;
}

.section.contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #040406;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(239, 174, 175, 0.75)),
      to(#fc6767)
    ),
    url('/static/images/CTICUNI-2.jpg');
  background-image: linear-gradient(180deg, rgba(239, 174, 175, 0.75), #fc6767),
    url('/static/images/CTICUNI-2.jpg');
  background-size: auto, cover;
}

.project-wrapper {
  position: relative;
  bottom: 0px;
  display: block;
  -webkit-transition: bottom 300ms ease;
  transition: bottom 300ms ease;
  color: #404040;
  text-decoration: none;
  font-size: 14px;
}

.project-wrapper:hover {
  bottom: 8px;
}

.icon-wrapper {
  height: 95px;
  margin-bottom: 10px;
  padding-top: 13px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.icon-wrapper._2 {
  padding-top: 20px;
}

.contact-text {
  color: #404040;
  font-size: 13px;
  text-transform: uppercase;
}

.link {
  color: #404040;
}

.direccion > * {
  margin-bottom: 2vh;
}
.direccion div {
  margin-bottom: 0;
}

.social-wrapper {
  /* display: inline-block; */
  margin-bottom: 2vh;
  margin-left: 33%;
  transition: opacity 300ms ease;
  text-align: left;
  text-decoration: none;
  float: left;
}

.social-wrapper:hover {
  opacity: 0.43;
}

.social-link-text {
  display: inline-block;
}

.social-icon {
  margin-top: -6px;
  margin-right: 9px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.project-info {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 600;
}

.heading-2 {
  color: #040406;
}

.heading-3 {
  text-transform: uppercase;
}

.heading-5 {
  font-weight: 800;
}

@media (max-width: 991px) {
  .w-container {
    max-width: 88%;
  }
  .nav-link {
    margin-left: 2vw;
    /* font-size: 2vw; */
    font-size: calc(0.5vw + 0.45vh + 0.5vmin);
  }
  .nav-link:hover {
    border-bottom-color: transpsarent;
  }
  .main-heading {
    font-size: 38px;
    line-height: 44px;
  }
  .project-wrapper:hover {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .social-wrapper {
    margin-left: 30%;
  }
  .menu-button {
    margin-top: 7px;
    padding: 10px;
    font-size: 32px;
  }

  .miembro-img {
    width: 229.3333282470703px;
  }
}

@media (max-width: 767px) {
  .navbar {
    position: unset;
  }
  .w-col.w-col-4.w-col-small-4 {
    width: 100%;
  }
  .header {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
  }
  .logo-img {
    width: 100px;
  }
  .about-section {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .main-subtitle {
    font-size: 20px;
    line-height: 1.3;
    font-style: italic;
  }

  .section {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .text-block {
    font-size: 18px;
    line-height: 1.4;
  }

  .about-text {
    font-size: 18px;
    line-height: 1.4;
  }

  .icon-wrapper {
    height: 85px;
  }
  .icon-wrapper._2 {
    margin-top: 37px;
  }
  .contact-text {
    font-size: 16px;
  }
  .direccion > * {
    margin-bottom: 5vh;
  }
  .direccion div {
    margin-bottom: 0;
  }
  .social-wrapper {
    text-align: center;
    font-size: 16px;
    float: none;
    margin: 0 auto 4vh;
    display: table;
  }
  .menu-button {
    margin-top: 0px;
  }
  .miembro-img {
    width: 29vw;
  }
}

@media (max-width: 479px) {
  .main-heading {
    font-size: 34px;
    line-height: 38px;
  }
  .w-col.w-col-4.w-col-small-4.miembros {
    width: 100%;
  }
  .w-col.w-col-4.w-col-small-4 {
    width: 100%;
  }
  .project-title {
    font-size: 24px;
  }
  .project-info {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

/* Menu */
.menu-mobile > nav {
  z-index: 1;
}

.navbar {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #fff;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  box-shadow: 5px 10px 18px rgba(239, 174, 175, 0.85);
}

.nav-link {
  /* margin-top: 23px;
  margin-left: 34px; */
  margin: 23px calc(0.6vw + 0.6vh + 0.6vmin) 0 0;
  padding: 0px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  letter-spacing: 0.1rem;
  color: #404040;
  /* font-size: 0.95em; */
  font-size: (0.5vw + 0.5vh + 0.5vmin);
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #404040;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  -webkit-text-fill-color: #404040;
  text-decoration: none;
}

.header {
  padding: 98px 10px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(239, 174, 175, 0.85)),
      to(#fc6767)
    ),
    url('/static/images/CTICUNI-3.jpg');
  background-image: linear-gradient(180deg, rgba(239, 174, 175, 0.85), #fc6767),
    url('/static/images/CTICUNI-3.jpg');
  background-position: 0px 0px, 50% 55%;
  background-size: auto, cover;
  color: #fff;
  text-align: center;
  margin-top: 90px;
}

/*  */

.ul-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 45px;
  left: 0px;
  width: 200px;
  background-color: white;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.li-dropdown {
  font-size: 0.9em;
}
.li-dropdown a {
  color: #404040;
  text-decoration: none;
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;

  /* color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */
}

.li-dropdown {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
.li-dropdown:last-child {
  border-bottom: none;
}
.li-dropdown:hover {
  background-color: #e5e5e5;
  color: white;
}

.button-menu {
  padding: 0px;
  text-decoration: none;
  border-bottom-color: transparent;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
  color: #404040;
  /* font-size: 14px; */
  /* font-size: calc(0.5vw + 0.5vh + 0.5vmin); */
  font-weight: 700;
  text-transform: uppercase;
}

/* .button-menu:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 7px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #040406 transparent transparent transparent;
  right: 10px;
  top: 7px;
  margin-right: -30px;
} */

.menu-img {
  float: right;
  margin-top: -8px;
  cursor: pointer;
  margin-left: 5px;
}

/* README */
.readme {
  text-align: initial;
  line-height: 1.5;
}

.readme h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald';
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.readme ul {
  font-size: 15px;
}

.readme h2 {
  text-align: left;
}
.readme h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 800;
  text-decoration: underline;
}

.readme h4 {
  font-size: 16px;
}

.readme a {
  margin: 0.2em auto;
  line-height: 0.85em;
  background-color: #040406;
  color: #fff;
}

.readme pre {
  clear: both;
  padding: 0;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -ms-word-break: normal;
  word-break: normal;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  position: relative;
  line-height: 28px;
  border-radius: 8px;
  min-width: 100px;
  max-width: 100%;
  overflow: hidden;
}

.readme code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;

  scrollbar-color: #666 #201c29;
  padding: 15px 20px 12px 22px;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  font-size: 16px;
  line-height: 1.75;
}

.readme img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}

.miembro-img {
  width: 300px;
}

/* 404 */
.error-page {
  min-height: calc(100vh - 40px);
  height: auto;
  align-content: center;
  padding: 98px 10px;
  background-position: 0px 0px, 50% 55%;
  text-align: center;
  margin-top: 90px;
}
.error-page h1 {
  margin-top: 10vh;
  font-size: 38px;
  font-family: 'Raleway';
  text-align: center;
}
.error-page h2 {
  font-family: 'Raleway';
  text-align: center;
}

.error-page img {
  padding-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* miembros */

.miembros-page {
  background-position: 0px 0px, 50% 55%;
  text-align: center;
  margin-top: 90px;
}
